nav.main-nav {
  position: absolute;
  width: 100%; }
  nav.main-nav button.main-nav-button {
    display: none;
    transition: ease-in-out .1s; }
  nav.main-nav ul#menu-main {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav.main-nav ul#menu-main li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      font-size: 1.5rem;
      padding: .5rem 0; }
      nav.main-nav ul#menu-main li:hover {
        background: #0082AD; }
      nav.main-nav ul#menu-main li a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        width: 100%;
        font-family: 'Roboto', sans-serif; }
  @media screen and (max-width: 750px) {
    nav.main-nav button.main-nav-button {
      display: block;
      position: absolute;
      left: calc(50% - 2.5rem);
      border: none;
      outline: none;
      color: #FFFFFF;
      background: rgba(0, 0, 0, 0.5);
      width: 5rem;
      margin: auto;
      padding: 0.75rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      z-index: 99;
      cursor: pointer; }
      nav.main-nav button.main-nav-button p {
        margin: 0;
        padding-bottom: 0.5rem; }
      nav.main-nav button.main-nav-button svg {
        fill: #FFFFFF; }
    nav.main-nav ul#menu-main {
      position: fixed;
      width: 100%;
      z-index: 2;
      transform: translateY(-100%);
      padding: 6rem 0;
      background: rgba(0, 0, 0, 0.6);
      transition: ease-in-out .5s; }
      nav.main-nav ul#menu-main li {
        width: 100%;
        background: none; } }
  nav.main-nav button.out {
    background: #0082AD;
    position: fixed; }
  nav.main-nav ul#menu-main.show {
    transform: translateY(0%); }

footer {
  background: #0082AD;
  position: relative;
  padding: 0.5rem 0; }
  footer .inner-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 3rem; }
    @media screen and (max-width: 750px) {
      footer .inner-footer {
        flex-wrap: wrap;
        margin: 0 1rem; }
        footer .inner-footer .footer-text {
          width: 100%;
          text-align: center;
          margin-bottom: 1rem;
          order: 2; }
        footer .inner-footer .social-links {
          width: 100%;
          justify-content: space-around;
          margin: 1rem 0;
          order: 2; } }
  footer a,
  footer p {
    color: #FFFFFF;
    margin: 0; }
  footer .footer-text {
    width: 75%; }
  footer .social-links {
    width: 25%;
    display: flex;
    justify-content: space-between; }
    footer .social-links a {
      text-decoration: none; }
    footer .social-links i {
      font-size: 2rem;
      vertical-align: middle; }

.hero-image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 750px) {
  .front-page-iframe {
    padding: 3rem; } }

@media screen and (max-width: 400px) {
  .front-page-iframe {
    padding: 1rem; } }

.front-page-info {
  text-align: center;
  padding: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
  .front-page-info h1 {
    font-size: 3rem;
    text-transform: uppercase; }
  .front-page-info h2 {
    font-size: 2rem; }
  @media screen and (max-width: 750px) {
    .front-page-info h1 {
      font-size: 2rem; }
    .front-page-info h2 {
      font-size: 1.25rem; } }

.page-info {
  padding: 0;
  margin: 0;
  background: #0082AD;
  color: #FFFFFF; }
  .page-info .inner-page-info {
    max-width: 1200px;
    margin: auto;
    padding: 6rem 1rem; }
    .page-info .inner-page-info h1,
    .page-info .inner-page-info p {
      float: left;
      margin: 0; }
    .page-info .inner-page-info h1 {
      width: 30%;
      text-align: center;
      padding-bottom: 1rem; }
    .page-info .inner-page-info p {
      width: 70%;
      padding-bottom: 1rem;
      vertical-align: top; }
    @media screen and (max-width: 750px) {
      .page-info .inner-page-info h1,
      .page-info .inner-page-info p {
        width: 100%; } }

.pricing-container {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 750px) {
    .pricing-container {
      flex-wrap: wrap; } }

.pricing-table {
  text-align: center;
  background: #0082AD;
  background: linear-gradient(10deg, #0082AD, #5E5E5E);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  width: 40%;
  height: auto;
  float: left;
  margin: 1rem 5%; }
  @media screen and (max-width: 750px) {
    .pricing-table {
      width: 80%;
      float: none;
      margin: 2rem auto; } }
  @media screen and (max-width: 400px) {
    .pricing-table {
      width: 80%; } }
  .pricing-table .pricing-header {
    padding: 2rem 0;
    color: #FFFFFF;
    border-bottom: 1px dashed #FFFFFF; }
    .pricing-table .pricing-header h3 {
      margin: 0; }
    .pricing-table .pricing-header h3.title {
      margin-bottom: 0.5rem;
      font-size: 1.5rem; }
  .pricing-table ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .pricing-table ul li {
      color: #FFFFFF;
      padding: 0.5rem 0; }

.error-message {
  text-align: center; }
  .error-message h1 {
    font-size: 5rem; }

.video-title {
  text-align: center;
  font-size: 1.5rem; }

.iframe-wrapper iframe {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.image-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .image-gallery img {
    width: 20rem;
    height: auto;
    margin: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); }

.contact-overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25); }

.contact-modal {
  display: none;
  top: 1rem;
  position: fixed;
  width: 75%;
  height: auto;
  background: #FFFFFF;
  margin-left: 12.5%;
  border: 4px solid #5E5E5E;
  border-radius: 4px;
  overflow: scroll;
  margin-top: 10%;
  z-index: 999; }
  .contact-modal ul {
    list-style: none;
    padding: 0; }
    .contact-modal ul li {
      text-align: center;
      font-size: 2rem; }
      .contact-modal ul li a {
        text-decoration: none;
        color: #5E5E5E; }
      .contact-modal ul li a,
      .contact-modal ul li p {
        display: inline-block; }
      .contact-modal ul li i {
        margin-right: 0.75rem; }
      .contact-modal ul li .close-contact {
        text-decoration: underline;
        color: #0082AD; }
      .contact-modal ul li:first-child a p {
        margin-top: 0; }
  @media screen and (max-width: 750px) {
    .contact-modal {
      width: 90%;
      margin-left: 5%; }
      .contact-modal ul li {
        font-size: 1.25rem; } }

.contact-overlay.open {
  display: block; }

.contact-modal.open {
  display: block; }

.call-to-action {
  width: 100%;
  text-align: center; }
  .call-to-action h4.btn {
    font-size: 2rem;
    display: inline-block;
    background: #0082AD;
    color: #FFFFFF;
    padding: 2rem;
    cursor: pointer;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.1s; }
    .call-to-action h4.btn:hover {
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25); }

.fotorama {
  max-height: 100vh; }

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; }

a {
  color: #0082AD; }

hr {
  height: 0.5rem;
  background: #0082AD;
  border: none; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  margin: auto; }

.section-header {
  text-align: center;
  font-size: 2rem; }

/*# sourceMappingURL=main.css.map */
