nav.main-nav {
  position: absolute;
  width: 100%; }
  nav.main-nav button.main-nav-button {
    display: none;
    transition: ease-in-out .1s; }
  nav.main-nav ul#menu-main {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav.main-nav ul#menu-main li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      font-size: 1.5rem;
      padding: .5rem 0; }
      nav.main-nav ul#menu-main li:hover {
        background: #0082AD; }
      nav.main-nav ul#menu-main li a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        width: 100%; }
  @media screen and (max-width: 750px) {
    nav.main-nav button.main-nav-button {
      display: block;
      position: absolute;
      left: calc(50% - 2.5rem);
      border: none;
      outline: none;
      color: #FFFFFF;
      background: rgba(0, 0, 0, 0.5);
      width: 5rem;
      margin: auto;
      padding: 0.75rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      z-index: 99;
      cursor: pointer; }
      nav.main-nav button.main-nav-button p {
        margin: 0;
        padding-bottom: 0.5rem; }
      nav.main-nav button.main-nav-button svg {
        fill: #FFFFFF; }
    nav.main-nav ul#menu-main {
      position: fixed;
      width: 100%;
      z-index: 2;
      transform: translateY(-100%);
      padding: 6rem 0;
      background: rgba(0, 0, 0, 0.6);
      transition: ease-in-out .5s; }
      nav.main-nav ul#menu-main li {
        width: 100%;
        background: none; } }
  nav.main-nav button.out {
    background: #0082AD;
    position: fixed; }
  nav.main-nav ul#menu-main.show {
    transform: translateY(0%); }

footer {
  background: #0082AD;
  position: relative;
  padding: 0.5rem 0; }
  footer a,
  footer p {
    color: #FFFFFF;
    text-align: center;
    margin: 0; }

.hero-image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); }

.front-page-iframe p {
  text-align: center; }

@media screen and (max-width: 750px) {
  .front-page-iframe {
    padding: 3rem; } }

@media screen and (max-width: 400px) {
  .front-page-iframe {
    padding: 1rem; } }

.front-page-iframe iframe {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.front-page-info {
  text-align: center;
  padding: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25); }
  .front-page-info h1 {
    font-size: 3rem; }
  .front-page-info h2 {
    font-size: 2rem; }
  @media screen and (max-width: 750px) {
    .front-page-info h1 {
      font-size: 2rem; }
    .front-page-info h2 {
      font-size: 1.25rem; } }

.page-info {
  padding: 0;
  margin: 0;
  background: #0082AD;
  color: #FFFFFF; }
  .page-info .inner-page-info {
    max-width: 1200px;
    margin: auto;
    padding: 6rem 1rem; }
    .page-info .inner-page-info h1,
    .page-info .inner-page-info p {
      float: left;
      margin: 0; }
    .page-info .inner-page-info h1 {
      width: 30%;
      text-align: center;
      padding-bottom: 1rem; }
    .page-info .inner-page-info p {
      width: 70%;
      padding-bottom: 1rem;
      vertical-align: top; }
    @media screen and (max-width: 750px) {
      .page-info .inner-page-info h1,
      .page-info .inner-page-info p {
        width: 100%; } }

.pricing-table {
  text-align: center;
  background: #0082AD;
  background: linear-gradient(10deg, #0082AD, #5E5E5E);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0.5rem; }
  .pricing-table .pricing-header {
    padding: 1rem 0;
    color: #FFFFFF;
    border-bottom: 1px dashed #FFFFFF; }
    .pricing-table .pricing-header h3 {
      margin: 0; }
    .pricing-table .pricing-header h3.title {
      margin-bottom: 0.5rem;
      font-size: 1.5rem; }
  .pricing-table ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .pricing-table ul li {
      color: #FFFFFF;
      padding: 0.5rem 0; }

.error-message {
  text-align: center; }
  .error-message h1 {
    font-size: 5rem; }

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maven Pro', sans-serif; }

a {
  color: #0082AD; }

hr {
  height: 0.5rem;
  background: #0082AD;
  border: none; }

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: auto; }

.section-header {
  text-align: center;
  font-size: 2rem; }

/*# sourceMappingURL=main.css.map */
