nav.main-nav
	position: absolute
	width: 100%
	button.main-nav-button
		display: none
		transition: ease-in-out .1s
	ul#menu-main
		list-style: none
		margin: 0
		padding: 0
		li
			display: inline-block
			float: left
			width: 20%
			text-align: center
			background: rgba(0, 0, 0, 0.5)
			font-size: 1.5rem
			padding: .5rem 0
			&:hover
				background: $blue
			a
				text-decoration: none
				color: $white
				display: block
				width: 100%
	@media screen and (max-width: $break-medium)
		button.main-nav-button
			display: block
			position: absolute
			left: calc(50% - 2.5rem)
			border: none
			outline: none
			color: $white
			background: rgba(0, 0, 0, 0.5)
			width: 5rem
			margin: auto
			padding: 0.75rem
			border-bottom-left-radius: 0.5rem
			border-bottom-right-radius: 0.5rem
			z-index: 99
			cursor: pointer
			p
				margin: 0
				padding-bottom: 0.5rem
			svg
				fill: $white
		ul#menu-main
			position: fixed
			width: 100%
			z-index: 2
			transform: translateY(-100%)
			padding: 6rem 0
			background: rgba(0, 0, 0, 0.6)
			transition: ease-in-out .5s
			li
				width: 100%
				background: none

	button.out
		background: $blue
		position: fixed
	ul#menu-main.show
		transform: translateY(0%)