.page-info
	background: $blue
	margin-top: 3rem
	.inner-page-info
		max-width: $max-width
		padding: 0 1rem
		margin: auto
	h2
		margin: 0
		padding: 3rem 0
		text-align: center
		font-size: 3rem
	@media screen and (max-width: $break-medium)
		margin-top: 0