.pricing-table
	text-align: center
	background: $blue
	background: linear-gradient(0deg, $blue, $dark-grey)
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
	.pricing-header
		padding: 1rem 0
		color: $white
		border-bottom: 1px dashed $white
		h3
			margin: 0
		h3.title
			margin-bottom: 0.5rem
			font-size: 1.5rem
	ul
		list-style: none
		padding: 0
		margin: 0
		li
			color: $white
			padding: 0.5rem 0
			&:nth-child(2n)