// Colors
$white: #FFFFFF
$black: #000000
$light-grey: #C9C9C9
$dark-grey: #5E5E5E
$blue: #00A4DB

// Breaks
$break-small: 400px
$break-medium: 750px
$break-large: 1200px
$max-width: 1200px

// fonts
@mixin roboto
	font-family: 'Roboto Slab', serif
@mixin lato
	font-family: 'Lato', sans-serif

// Imports
@import 'nav'
@import 'footer'
@import 'front-page'
@import 'page-info'

// General Styles
*
	box-sizing: border-box
	@include lato

body
	background: $light-grey
	min-height: 100vh
	display: flex
	flex-direction: column

h1,
h2,
h3,
h4,
h5,
h6
	@include roboto

a
	color: $blue

// Helpers
.container
	max-width: $max-width
	padding: 1rem
	margin: auto


